################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/first game/first game/x64/Debug
/first game/.vs/first game/v15
/first game/first game/Debug
